.card{
    display:flex;
    flex-flow: column;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 500px;
    padding: 10px;
    
}
.item{
    display: flex;
    justify-content: center;
}
.cardText{
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}